@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0A2540;
    color: #F8F9FA;
}
h1 {
    color: #3B82F6;
}
h1#principal {
    text-align: center;
    font-size: 3em;
    color:#F1F5F9;
}
.basico {
    color: #16A34A;
}
.intermediario {
    color: #CA8A04;
}
.avancado {
    color: #DC2626;
}