@charset "UTF-8";

/* estado inicial */
.texto1,
.texto2,
.texto3 {
  display: none;
}

/* início */
.container:hover .texto1 {
  display: block;
  color: blue;
}

/* 1 → 2 */
.texto1:hover .texto2 {
  display: block;
  color: green;
}

/* 2 → 3 */
.texto2:hover .texto3 {
  display: block;
  color: purple;
}