@charset "UTF-8";

@font-face {
    font-family: lol;
    src: url(../fontes/BeaufortforLOL-Italic.ttf);
}

* {
    margin: 0px;

}

nav {
    width: 100%;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    background-color:#111111;
    box-shadow: inset #ffffff12 -1px 0px 10px;
    position: fixed;
    z-index: 999;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 75px;
    padding: 10px 30px;
}

nav > a:hover {
    background-color: #ffffff12;
    border-radius: 10px;
    color: rgb(200,170,110);
}
#teste {
    min-height: 100vh;
    background-image: url(../imagens/jinx.jpg);
    background-size: cover;
    background-position: center 30%;
    

    display: flex;
    align-items: center;   /* centraliza vertical */

    position: relative;
    overflow: hidden;
    
}

#teste::before {
    content: "";
    position: absolute;
    inset: 0;

    
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.6) 35%,
        rgba(0, 0, 0, 0.2) 60%,
        rgba(0, 0, 0, 0) 80%
    );

    z-index: 1;

}



#teste > div {
    position: absolute;
    z-index: 2;
    top: 24%;
    left: 13%;
    transform: translate(-10%);


    max-width: 700px;
    padding: 20px;
    
    border-radius: 10px;
}


div > h1 {
    font-family: lol, sans-serif;
    color: rgb(200, 170, 110);
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

div > h2 {
    font-family: lol, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 82px;
    line-height: 88px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 25px;
}

div > p {
    max-width: 714px;
    font-family: Spiegel, sans-serif;
    font-weight: 400;
    word-break: break-word;
    font-size: 17px;
    line-height: 28px;
    color: rgb(255, 255, 255);
}