@charset "UTF-8";

 *{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
 }
body{
    height: 100vh;
    background-image: linear-gradient(to top, #042940, #005C53);
 }
 main{
    background-color: #D6D58E;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.541);
    width: 600px;
    padding: 10px;
    margin: auto;
 }
 h1{
 color: #DBF227;
 text-align: center;
 text-shadow: 1px 1px 2px black;
 }
 h2{
    color: #042940bd ;
 }
 p{
    text-align: justify;
 }